<html lang="en">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FaceGuard Authentication - Secure access to face recognition system">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication - FaceGuard</title>
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="icon" type="image/png" href="../assets/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" id="container">
        <div class="forms-container">
          <!-- Login Form -->
          <div class="form login-form">
            <h2>Iniciar Sesión</h2>
            <form id="loginForm">
              <label for="loginUser">Email</label>
              <input type="text" id="loginUser" placeholder="email" />
              <label for="loginPassword">Contraseña</label>
              <input type="password" id="loginPassword" placeholder="Ingresa tu contraseña" />
              <button type="submit">Login</button>
            </form>
            <div class="toggle-text">
              ¿No tienes cuenta? <a id="showRegister">Regístrate</a>
            </div>
          </div>
    
          <!-- Register Form -->
          <div class="form register-form">
            <h2>Regístrate</h2>
              <form id="registerForm">
                <label for="regUsername">Usuario</label>
                <input type="text" id="regUsername" placeholder="Ingresa tu usuario" />
                <div id="regUsernameFeedback" class="error-message"></div>
              
                <label for="regEmail">Email</label>
                <input type="email" id="regEmail" placeholder="Ingresa tu email" />
                <div id="regEmailFeedback" class="error-message"></div>
              
                <label for="regPassword">Contraseña</label>
                <input type="password" id="regPassword" placeholder="Ingresa tu contraseña" />
                <div id="regPasswordFeedback" class="error-message"></div>
              
                <label for="regPassword2">Repetir Contraseña</label>
                <input type="password" id="regPassword2" placeholder="Repite tu contraseña" />
                <div id="regPassword2Feedback" class="error-message"></div>
              
                <button type="submit">Registrar</button>
              </form>
            <div class="toggle-text">
              ¿Ya tienes cuenta? <a id="showLogin">Inicia sesión</a>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Scripts -->
    <script src="../js/config.js"></script>
    <script src="../js/darkMode.js"></script>
    <script src="../js/auth.js"></script>
</body>
</html>

